/* Footer CSS */

footer {
	padding-top: 2em;
	@extend .shadow;
	background-color: lighten(black, 15%);
	&,
	a {
		color: $light-color;
	}
	a {
		//color: desaturate(dodgerblue, 40%); //turns out to be not so bad
		transition: color 0.2s;
		&:hover {
			color: white;
		}
	}
	h4 {
		text-transform: uppercase;
		color: white;
		&.policy-header {
			margin-bottom: 0em;
			& + p {
				margin-top: 0.5em;
			}
		}
	}
	.container {
		.row {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.footer-item {
				margin: 1em;
				a {
					display: block;
					font-size: 0.9em;
				}
			}
			&.about {}
		}
	}
	.copyright {
		padding: 15px;
		background: $dark-color;
	}
}
