/* Navigation CSS */

nav {
	@extend .shadow;
	position: relative;

	.container {
		display: flex;
		justify-content: space-around;
		align-items: center;

		img {
			min-width: 1in;
			max-width: 1.5in;
			width: 20%;

			min-height: 1in * (250/350);
			height: auto;
		}

		div {
			display: flex;
			justify-content: flex-end;
			align-self: stretch;
			align-items: center;

			.dropdown {
				position: relative;
				display: inline-block;

				.aBtn {
					padding: 0 16px;
					height: 100%;
					cursor: pointer;
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.1);

					.dropdown-content {
						display: block;
					}
				}

				.dropdown-content {
					position: absolute;
					background-color: #f9f9f9; //@extend .shadow;
					min-width: 180px;
					display: none;
					z-index: 5;

					a {
						padding: 16px;
						text-decoration: none;
						display: block;

						&:hover {
							background-color: #ddd;
						}
					}
				}
			}
		}
	}
}
