/* Navigation CSS */

nav {
	@extend .shadow;
	position: relative;
	img.logo {
		min-width: 1.5in;
		max-width: 1.5in;
		width: 20%;

		height: auto;
	}

	.container {
		display: flex;
		justify-content: space-around;
		align-items: center;



		div {
			display: flex;
			justify-content: flex-end;
			align-self: stretch;
			align-items: center;

			.dropdown {
				position: relative;
				display: inline-block;

				.aBtn {
					padding: 0 16px;
					height: 100%;
					cursor: pointer;
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.1);

					.dropdown-content {
						display: block;
					}
				}

				.dropdown-content {
					position: absolute;
					background-color: #f9f9f9; //@extend .shadow;
					min-width: 180px;
					display: none;
					z-index: 5;

					a {
						padding: 16px;
						text-decoration: none;
						display: block;

						&:hover {
							background-color: #ddd;
						}
					}
				}
			}
		}
	}

	.container-mobile {
		display: flex;
		justify-content: space-around;

		img {
			max-width: 1.5in;
			width: 20%;

			height: auto;
		}

		div {
			width: 100%;
			display: relative;
			.dropdown-mobile {
				position: relative;

				.aBtn {
					padding: 0 16px;
					cursor: pointer;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
				}

				&:hover {
					background-color: rgba(0, 0, 0, 0.1);

					.dropdown-content-mobile {
						display: block;
					}
				}

				.dropdown-content-mobile {
					position: absolute;
					background-color: #f9f9f9; //@extend .shadow;
					min-width: 180px;
					display: none;
					z-index: 5;

					a {
						padding: 16px;
						text-decoration: none;
						display: block;

						&:hover {
							background-color: #ddd;
						}
					}
				}
			}
		}
	}

	.mobile-menu {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		flex-direction: column;
	}
}

.desktop {
	display: none;
}

@media (min-width: $breakpoint) {
	.mobile {
		display: none;
	}

	.desktop {
		display: block;
	}
}
