@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css',
'nav',
'footer',
'home',
'sub-pages';

body,
html {
	font-family: Helvetica, sans-serif;
}

a {
	color: black;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	box-sizing: border-box;
}

/** A set of cool effects **/


//hover settings
$animate: all 0.3s ease-out;
$underline-color: white;
$underline-thickness: 5px;

//card effects
$card-bk: rgb(20, 20, 20);
$card-padd: 2em;

$shadow-size: 20px;
$shadow-strength: 0.8;

$border-col: white;
$border-padd: 1em;
$border-thickness: 2px;

.hover-effect {
  transition: $animate;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0px;
    height: $underline-thickness;
    transition: $animate;
    opacity: 0;
  }
  &:after {
    left: 0;
    background-color: $underline-color;
  }

  &:hover {
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}

.card {
	background: $card-bk;
	margin: 0.5em;
	padding: $card-padd;
	@extend .inner-border;
	@extend .shadow;
}

.shadow {
	box-shadow: 0 0 $shadow-size rgba(0, 0, 0, $shadow-strength);
}

.inner-border {
	display: inline-block;
	position: relative;
	&:before {
		display: block;
		content: '';
		position: absolute;
		top: $border-padd;
		right: $border-padd;
		bottom: $border-padd;
		left: $border-padd;
		border: $border-thickness solid $border-col;
	}
}

/* For devices larger than 400px */

@media (min-width: 500px) {
	.container {
		width: 85%;
		padding: 0;
	}
}
