/** A set variables **/

//important colors
$dark-color: rgb(20, 20, 20);
$light-color: rgb(200, 200, 200);

//breakpoint
$breakpoint: 500px;

//hover settings
$animate: all 0.3s ease-out;
$underline-thickness: 5px;

//card effects
$card-padd: 2em;

$border-col: white;
$border-padd: 1em;
$border-thickness: 2px;

//shadow effects
$shadow-size: 10px;
$shadow-strength: 0.7;

body,
html {
	font-family: Helvetica, sans-serif;
	line-height: 1.5em;
	color: $dark-color;
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 1em;
	box-sizing: border-box;
}

a {
	color: $dark-color;
	text-decoration: none;
}

.link {
	border-bottom: 1px dotted $light-color;
}

.hover-effect {
  transition: $animate;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0px;
    height: $underline-thickness;
    transition: $animate;
    opacity: 0;
  }
  &:after {
    left: 0;
    background-color: $light-color;
  }

  &:hover {
    &:before,
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}

.card {
	background: $dark-color;
	margin: 0.5em;
	padding: $card-padd;
	@extend .inner-border;
	@extend .shadow;
}

.shadow {
	box-shadow: 0 0 $shadow-size rgba(0, 0, 0, $shadow-strength);
}

hr {
	height: $border-thickness;
	border: none;
	background: $border-col;
}

.inner-border {
	display: inline-block;
	position: relative;
	&:before {
		display: block;
		content: '';
		position: absolute;
		top: $border-padd;
		right: $border-padd;
		bottom: $border-padd;
		left: $border-padd;
		border: $border-thickness solid $border-col;
	}
}

/* For devices larger than 400px */

@media (min-width: $breakpoint) {
	.container {
		width: 85%;
		padding: 0;
	}
}

@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css',
'nav',
'footer',
'home',
'sub-pages';